.bottom-buffer {
    margin-bottom:20px;
}

.top-buffer {
    margin-top:16px;
}

.lowpadding {
   padding: 5px !important;
}

.highpadding {
   padding: 16px !important;
}

.control-loop {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
}

.bokeh-titles {
font-size: 20pt;
font-family: Helvetica;
}

.bokeh-labels {
font-size: 14pt;
font-family: Helvetica;
}

.bk-slider-parent {
font-size:20px !important;
}

.bk-slider-parent input[type="text"] {
font-size:20px !important;
line-height: 100% !important;
}