<!-- TODO: Calibration Graph & Signal Reader -->
<!-- TODO: HTML COmments -->
<!DOCTYPE html>
{% from "_formhelpers.html" import render_field %}
<html lang="en">
<head>
    <title>Calibrate Reactor {{reactor}} Signals</title>
    <link
      href="{{
        url_for('static', filename='css/bootstrap.min.css') }} "
      rel="stylesheet">
    <link
      href="{{
        url_for('static', filename='css/custom.css') }} "
      rel="stylesheet">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script
      type=text/javascript
      src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script
      src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
    </script>
    <script
      src="{{url_for('static', filename='js/bootstrap.min.js')}}">
    </script>
    <link
      href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
      rel="stylesheet"
      type="text/css">
    <link
      href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
      rel="stylesheet"
      type="text/css">
    <script
      src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js">
    </script>
    <script
      src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js">
    </script>
</head>
<body class="container">
     <div id="Title" class="row">
        <h1>
            Reactor {{reactor}} Calibration
        </h1>
    </div>
    <!-- This block displays status of last command sent -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <h2 class="row">
          Result:
        </h2>
        <div id="messages" class="row">
          <ul id="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    <div id ="matter" class="row">
      <!-- This block the form -->
      <form method=post class="col-6">
        <dl>
          {{ form.csrf_token }}
          {{ render_field(form.signal) }}
          {{ render_field(form.slope) }}
          {{ render_field(form.intercept) }}
        </dl>
        <p class="form-group row justify-content-center">
          <input type=submit value=Send class="btn btn-primary">
        </p>
      </form>
      <div id="graph" class="col-6">
        {{ graphdiv|safe }}
      </div>
    </div>
</body>
</html>
{{ graphscript|safe }}
<script>
$(document).ready(function(){
    $("#signal").on('change', function() {
    // This function gets current slopes/ints of a signal and returns it to form when a new signal is selected
        // Current values are sent from server on page load as {#slopes#} & {#ints#}
        // This converts that dictionary of current values to js array
        var js_slopes = [
        {% for k in slopes %}
            ["{{ k }}","{{ slopes[k] }}"] {% if not last %},{% endif %}
         {% endfor %}
        ];
        var js_ints = [
        {% for k in ints %}
            ["{{ k }}","{{ ints[k] }}"] {% if not last %},{% endif %}
         {% endfor %}
        ];
        var name = this.value  // This is the currently selected signal
        // Loop through to find the slope and intercept of selected signal and fill slope and int into form
        for ( idx in js_slopes ){
            if (name == js_slopes[idx][0]){
                $("#slope").val(js_slopes[idx][1]);
                $("#intercept").val(js_ints[idx][1]);
            };
        };
    });
});
</script>