<!DOCTYPE html>
{% from "_formhelpers.html" import render_field %}
{% from "_backnav.html" import render_back_matter %}
<html lang="en">
<head>
    <title>Edit {{reactor}} Misc. Constants</title>
    <script
        type=text/javascript
        src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script
        src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
    </script>
    <script
        src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js">
    </script>
    <link
        href="{{
            url_for('static', filename='css/bootstrap.min.css') }} "
        rel="stylesheet">
    <link
        href="{{
            url_for('static', filename='css/custom.css') }} "
        rel="stylesheet">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script
        src="{{url_for('static', filename='js/bootstrap.min.js')}}">
    </script>
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
            rel="stylesheet"
            type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
        rel="stylesheet"
        type="text/css">
    <script
        src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js">
    </script>
    <script
        src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js">
    </script>
</head>
<body class="container">
    <div id="Title" class="row">
        <h1>
            Edit Reactor {{reactor}} Misc. Constants
        </h1>
    </div>
    <!-- This block displays status of last command sent -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <h2 class="row">
          Result:
        </h2>
        <div id="messages" class="row">
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
        </div>
      {% endif %}
    {% endwith %}
    <!-- This block contains for the form -->
    <form method=post>
        {{ form.csrf_token }}
        {{ render_field(form.constant) }}
        {{ render_field(form.value) }}
      <p class="row justify-content-center">
          <input class="btn btn-primary" type=submit value=Send>
      </p>
    </form>
    {{ render_back_matter(reactor) }}
</body>
</html>
<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
<script>
$(document).ready(function(){
    $("#constant").on('change', function() {
    // This function gets current value of a constant and returns it to the form when a new constant is selected
        // Current values are sent from server on page load as {#defaults#}
        // This converts that dictionary of current values to js array
        var js_dict = [
        {% for k in defaults %}
            ['{{ k }}','{{ defaults[k] }}'] {% if not last %},{% endif %}
         {% endfor %}
        ];
        var name = this.value // This is the currently selected constant
        // Loop through to find the value of the selected constant and fill in form
        for ( idx in js_dict ){
            if (name == js_dict[idx][0]){
                $("#value").val(js_dict[idx][1]);
            };  // Fill into form
        };
    });
});
</script>