<!doctype html>
<!-- TODO: Figure out how to handle multiple form submissions-->
<!-- TODO: Pretty formatting + CSS-->
{% from "_formhelpers.html" import render_field %}
<title>Reactor 1 Control Panel</title>
<body>
<form method=post>
    {{ pH_switch.csrf_token }}
    {{ render_field(pH_switch.control_on) }}
    {{ pH_switch.submit }}
</form>
<form method="POST">
    {{ pH_manual.csrf_token }}
    {{ render_field(pH_manual.acid_on) }}
    {{ render_field(pH_manual.base_on) }}
    {{ pH_manual.submit }}
</form>

<form method="POST">
    {{ pH_auto.csrf_token }}
    {{ render_field(pH_auto.pH_delay) }}
    {{ render_field(pH_auto.pH_setpt) }}
    {{ render_field(pH_auto.pH_tol) }}
    {{ pH_auto.submit }}
</form>

<script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
<script>
$(document).ready(function(){
    $("#control_on").click(function(){
        if ($(this).is(":checked")){
           $("#acid_on").attr("disabled", true);
           $("#base_on").attr("disabled", true);

        }
        else{
           $("#acid_on").attr("disabled", false);
           $("#base_on").attr("disabled", false);
        }
    });
});

</script>