<!doctype html>
{% from "_formhelpers.html" import render_field %}
{% from "_controlformhelpers.html" import render_control_fields %}
<head>
    <!-- Title webpage w/ reactor no -->
    <title>Reactor {{reactor[0]}} Control Panel</title>
    <!-- Style Imports -->
    <link
        href="{{
            url_for('static', filename='css/bootstrap.min.css') }} "
        rel="stylesheet">
    <link
        href="{{
            url_for('static', filename='css/custom.css') }} "
        rel="stylesheet">
    <!-- jquery imports for live updating -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script
        type=text/javascript
        src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script
        src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js">
    </script>
    <script
        src="{{url_for('static', filename='js/bootstrap.min.js')}}">
    </script>
    <!-- bokeh imports for data visualization -->
    <link
            href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
            rel="stylesheet"
            type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
        rel="stylesheet"
        type="text/css">
    <script
        src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js">
    </script>
    <script
        src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js">
    </script>
</head>
<body class="container">
    <div id="Title">
        <h1>
            <!-- Title webpage w/ reactor no -->
            Reactor {{reactor[0]}} Control Panel
        </h1>
    </div>
    <div class="row" id="status">
        <h2 class="col-2">Status:</h2>
        <!-- This block displays status of control panel -->
        <h2 id="load" class="col-2">Loading...</h2>
    </div>
    <div class="row" id="messages">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <div id = "Constants" class="row bottom-buffer">
        <!-- These are links for other functions you can perform on reactor -->
        <div class="col-6">
            <a href="{{reactor[0]}}/CalConstants">
                Change Calibration Constants
            </a>
        </div>
        <div class="col-6">
            <a href="{{reactor[0]}}/Constants">
                Change Other Constants
            </a>
        </div>
    </div>
    <div class="row justify-content-center" id="top_matter">
        <div class="col-12" id="Graph">
            <!-- This is the signal graph + SS analytics -->
            {{ graphs['Probes']|safe }}
        </div>
    </div>
    <!-- Every Control Loop (i.e. pH, DO, SBR) gets it's own section -->
    {% for c_loop in all_loops  %}
        {{ loop.cycle('<div class="row">','')|safe }}
            <div id="{{c_loop}}" class="col control-loop highpadding">
            {% for c_action in all_actions %}
                {% if c_action != 'Status'  %}
                    {{ render_control_fields(c_action,c_loop,loop_form_dict[c_loop][c_action]) }}
                {% endif %}
            {% endfor %}
            </div>
        {{ loop.cycle('','</div>')|safe }}
        {% if loop.last and not loop.first and loop.index % 2 != 0 %}
            </div>
        {% endif %}
    {% endfor %}
    </div>
</body>
<!-- This contains the script to build the embedded graph -->
{{ graphscript|safe }}
<script>
$(document).ready(function(){
    // This function enables/disables manual controls if control switch is off/on
    function loadPage(){
        $.getJSON('{{reactor[0]}}/current', function (result){
            $.each(result, function(key, val){  // loop through control loops
                // On page load, populate form values with current values

                // Auto control on/off
                var switchformstr = key.concat('_Switch')
                var switchval = val[switchformstr]
                $('#'+switchformstr+'-control_on').prop('checked', switchval);

                if (switchval) {
                    $('#'+switchformstr+'-control_on').closest('label').prop('class', 'btn btn-block btn-lg btn-success active')
                }
                else {
                    $('#'+switchformstr+'-control_on').closest('label').prop('class', 'btn btn-block btn-lg btn-danger')
                }

                // Manual Control Values
                var manformstr = key.concat('_Manual');
                var manvals = val[manformstr]
                $('#'+manformstr+'_Form *').filter(':input').each(function(){
                    var formele = this
                    $.each(manvals, function(key, val){
                        if (formele.id.indexOf(val[0]) > -1) {
                            if ($(formele).is(':checkbox')){
                                if (val[1]) {
                                    $($(formele).closest('label')).prop('class', 'btn btn-block btn-success active')
                                }
                                else {
                                    $($(formele).closest('label')).prop('class', 'btn btn-block btn-danger')
                                };
                                $(formele).prop('checked', val[1])
                            }
                            else {
                                $(formele).val(val[1])
                            };
                        };
                    });
                });

                // Control Parameters
                var setparamformstr = key.concat('_SetParams');
                var setparamvals = val[setparamformstr]
                $('#'+setparamformstr+'_Form *').filter(':input').each(function(){
                    var formele = this
                    $.each(setparamvals, function(key,val){
                        if (formele.id.indexOf(val[0]) > -1) {
                            if ($(formele).is(':checkbox')){
                                if (val[1]) {
                                    $($(formele).closest('label')).prop('class', 'btn btn-block btn-success  active')
                                }
                                else {
                                    $($(formele).closest('label')).prop('class', 'btn btn-block btn-danger')
                                };
                                $(formele).prop('checked', val[1])
                            }
                            else {
                                $(formele).val(val[1])
                            };
                        };
                    });
                });

                // If automatic control on, disable manual input
                if (switchval){
                     // loop through manual control form fields
                    $('#'+manformstr+'_Form *').filter(':input').each(function(){
                        // disable all manual control form fields
                        if ($(this).is(':checkbox')){
                            $(this).closest('label').attr("disabled", switchval)
                        }
                        else {
                            $(this).attr("disabled", switchval)
                        };
                    });
                };
            });
        });
    };

    // This removes the loading tag when the page is finished loading
    $.when(loadPage()).then($('#load').remove())

    // Update manual values that are auto controlled at the moment
    setInterval(
        function () {
            $.getJSON('{{reactor[0]}}/current', function(result){
                $.each(result, function(key, val){  // loop through control loop switch
                    var switchformstr = key.concat('_Switch');
                    var switchval = val[switchformstr]
                    var manformstr = key.concat('_Manual')
                    var manvals = val[key+'_Manual']
                    if (switchval){
                        $('#'+manformstr+'_Form *').filter(':input').each(function(){
                            var formele = this
                            $.each(manvals, function(key,val){
                                if (formele.id.indexOf(val[0]) > -1) {
                                    if ($(formele).is(':checkbox')){
                                        if (val[1]) {
                                            $($(formele).closest('label')).prop('class', 'btn btn-block btn-success active')
                                        }
                                        else {
                                            $($(formele).closest('label')).prop('class', 'btn btn-block btn-danger')
                                        };
                                        $(formele).prop('checked', val[1])
                                    }
                                    else {
                                        $(formele).val(val[1])
                                    };
                                }
                            });
                        });
                    };
                });
            });
        },
    {{ update }});

    // Let user know when value hasn't been submitted
    $("input[type=text]").change(function() {
        $(this).parent().prop('class', $(this).parent().prop('class') + ' has-warning')
        $(this).prop('class', $(this).prop('class')+ ' form-control-warning')
        console.log($(this).parent().prop('class'))//, 'form-group has-success')
        console.log($(this).prop('class'))//,'form-group form-group-success')
        //$($($(this).parents()).filter('form')[0]).prop('class', 'form-group has-success')
        //$(this).prop('class','form-group form-group-success')
    });

    });
        // This function automatically sends the control on/off function if any control loop switch is clicked.
    $("*[id*=control_on]").closest('label').click(function(){ //
        console.log(this)
        var that = this
        setTimeout(function() {
        $(that.form).submit()
        }, 1)
});
</script>
